{% extends "administrator/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}ログイン|DesignPicksss管理者画面{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/administrator/login.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="mx-auto login_wrapper">
        <h1 class="mb-4 text-center">DesignPicksss</h1>
        <div class="p-5 rounded login_bg">
            <!-- message -->
            {% if messages %}
            <div class="row">
                <div class="my-div-style w-100">
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}">
                            {% endif %}
                            {{ message }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}

            <h2 class="mb-4 text-center">サインイン</h2>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label>スタッフコード（0001）</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" placeholder="00000">
                    </div>
                </div>
                <div class="form-group mb-4">
                    <label>パスワード（1111）</label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                        <input type="password" class="form-control" placeholder="*****">
                    </div>
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-outline-primary fw-bold" type="submit">ログイン</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}