<div class="sidemenu-outer">
  <div class="menu">
    <span class="menu-circle"></span>
    <a href="#" class="menu-link">
      <span class="menu-icon">
        <span class="menu-line menu-line-1"></span>
        <span class="menu-line menu-line-2"></span>
        <span class="menu-line menu-line-3"></span>
      </span>
    </a>
  </div>
  <div class="sidemenu">
    {% comment %} <p><a href='/'>Home</a></p>
    <p><a href="">About</a></p>
    <p><a href="">Contact</a></p> {% endcomment %}
    <p>Category</p>
    <ul class="category-bar">
      <li><a href="https://fooodesign.com/category/lp-landingpage/">Landing Page</a></li>
      <li><a href="https://fooodesign.com/category/world/">World</a></li>
    </ul>
    <ul class="category-bar">
      <!---------------------------->	
      <li><a href="https://fooodesign.com/category/cafe-restaurant/">飲食店・カフェ･レストラン</a></li>
      <li><a href="https://fooodesign.com/category/hotel/">ホテル・宿泊施設</a></li>
      <li><a href="https://fooodesign.com/category/sport/">スポーツ・運動</a></li>
      <li><a href="https://fooodesign.com/category/production-design/">制作会社・デザイン</a></li>
      <li><a href="https://fooodesign.com/category/fashion/">ファッション・アパレル</a></li>
      <!---------------------------->	
      <li><a href="https://fooodesign.com/category/simple/">シンプル</a></li>
      <li><a href="https://fooodesign.com/category/colorful/">カラフル</a></li>
      <li><a href="https://fooodesign.com/category/luxury/">高級感</a></li>
      <li><a href="https://fooodesign.com/category/trust/">信頼感</a></li>
      <!---------------------------->	
      <li><a href="https://fooodesign.com/category/red/">赤 - Red</a></li>
      <li><a href="https://fooodesign.com/category/blue/">青 - blue</a></li>
      <li><a href="https://fooodesign.com/category/yellow/">黄 - Yellow</a></li>
    </ul>
  </div><!--.sidemenu-->
  <div class="sidemenu-bg"></div>
</div><!--.sidebar-outer-->
