{% load static %}
<a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
  <i class="fas fa-bars"></i>
</a>
<nav id="sidebar" class="sidebar-wrapper">
  <div class="sidebar-content">
    <div class="sidebar-title">
      <a href="#">DesignPicksss</a>
      <div id="close-sidebar">
        <i class="fas fa-times"></i>
      </div>
    </div>
    <div class="sidebar-header">
      <a href="#">
        <div class="user-info">
          <span><i class="fa fa-user-cog" style="color: #f7f7f7;"></i> アカウント</span>
          <span><strong>Akiko Suzuki</strong></span>
        </div>
      </a>
    </div>
    <!-- sidebar-header  -->
    <div class="sidebar-menu">
      <ul>
        <li class="header-menu">
          <span>General</span>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-link"></i><span>参考サイト</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-tags"></i><span>カテゴリ</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-user-circle"></i><span>管理者ユーザ</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-download"></i><span>注文情報管理</span>
          </a>
        </li>
      </ul>
    </div><!-- sidebar-menu  -->
  </div><!-- sidebar-content  -->
  <div class="sidebar-footer">
    <a href="{% url 'sign_out' %}">
      <span class="mr-3">ログアウト</span><i class="fas fa-sign-out-alt"></i>
    </a>
  </div>
</nav><!-- sidebar-wrapper  -->