<footer>
  <!-- <ul class="sns">
    <li><a href="https://twitter.com/home"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
  </ul> -->
  <ul class="footer-list">
    <li><a href="https://fooodesign.com">Home</a></li>
    <li><a href="https://fooodesign.com/about/">About</a></li>
    <li><a href="https://fooodesign.com/contact/">Contact</a></li>
  </ul>
  <p><small>Copyright &copy; fooooo! All Rights Reserved</small></p>
</footer>