<div class="sidebar-outer">
  <div class="sidebar">
    <p><a href="<?php echo home_url(); ?>">Home</a></p>
    <p><a href="https://fooodesign.com/about/">About</a></p>
    <p><a href="https://fooodesign.com/contact/">Contact</a></p>
    <p>Category</p>
    <ul class="category-bar">
      <li><a href="https://fooodesign.com/category/lp-landingpage/">Landing Page</a></li>
      <li><a href="https://fooodesign.com/category/world/">World</a></li>
      <!---------------------------->	
      <li><a href="https://fooodesign.com/category/cafe-restaurant/">飲食店・カフェ･レストラン</a></li>
      <li><a href="https://fooodesign.com/category/hotel/">ホテル・宿泊施設</a></li>
      <li><a href="https://fooodesign.com/category/sport/">スポーツ・運動</a></li>
      <li><a href="https://fooodesign.com/category/production-design/">制作会社・デザイン</a></li>
      <li><a href="https://fooodesign.com/category/fashion/">ファッション・アパレル</a></li>
<!-- <li><a href="#">IT・テクノロジー</a></li>
      <li><a href="#">学校・教育</a></li>
      <li><a href="#">建設・土木</a></li> -->
      <!---------------------------->	
      <li><a href="https://fooodesign.com/category/simple/">シンプル</a></li>
      <li><a href="https://fooodesign.com/category/colorful/">カラフル</a></li>
      <li><a href="https://fooodesign.com/category/luxury/">高級感</a></li>
      <li><a href="https://fooodesign.com/category/trust/">信頼感</a></li>
      <!---------------------------->	
      <li><a href="https://fooodesign.com/category/red/">赤 - Red</a></li>
      <li><a href="https://fooodesign.com/category/blue/">青 - blue</a></li>
      <li><a href="https://fooodesign.com/category/yellow/">黄 - Yellow</a></li>
    </ul>
  </div><!--.sidebar-->
  <div class="sidebar-btn" id="js-sidebarBtn">
    <div class="sidebar-line line01"></div>
    <div class="sidebar-line line02"></div>
  </div>
  <div class="black-bg" id="js-blackBg"></div>
</div><!--.sidebar-outer-->
